<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="APITest">
	<test name="api">
		<classes>
			<class name="com.api.assignment.postsDetails" />
			<class name="com.api.assignment.commentsDetails" />
			<class name="com.api.assignment.usersDetails" />
		</classes>
	</test>
</suite>